!!! XML
maven2-moduleset
  actions
  description
  keepDependencies false
  != capture(include("common.jade"))
  assignedNode ubuntu
  canRoam false
  disabled false
  blockBuildWhenUpstreamBuilding false
  jdk jdk6
  triggers.vector
    'hudson.triggers.SCMTrigger'
      spec */15 * * * *
  concurrentBuild false
  goals -V -B -fae clean install
  defaultGoals install #{build.mavenOptions.goalsArguments}
  mavenOpts -Xmx800m -XX:MaxPermSize=192m
  aggregatorStyleBuild true
  incrementalBuild false
  usePrivateRepository false
  ignoreUpstremChanges true
  archivingDisabled true
  reporters
  publishers
  buildWrappers
    'hudson.plugins.build__timeout.BuildTimeoutWrapper'
      timeoutMinutes= project.timeout
      failBuild false
