- import Helper._
logRotator
  daysToKeep -1
  numToKeep 10
  artifactDaysToKeep -1
  artifactNumToKeep -1
properties
  - if( !build.parameters.isEmpty )
    'hudson.model.ParametersDefinitionProperty'
      parameterDefinitions
        - for( p <- build.parameters )
          'hudson.model.StringParameterDefinition'
            name #{p.name}
            description #{p.description}
            defaultValue #{p.value}

  - project.scm match
    - case x:GitHub =>
      'com.coravy.hudson.plugins.github.GithubProjectProperty'
        projectUrl= with_trailing_slash(project.scm.web_url.get)
    - case _ =>
- project.scm match
  - case x:Git => 
    != capture(include("git.jade"))
  - case x:Subversion => 
    != capture(include("subversion.jade"))